
@{ ViewBag.Title = "About Us..."; }
<h1>@ViewBag.Title.</h1>

<h2>We save medicine to save lives. You can help.</h2>
<br />

<h4>
    To tackle and prevent situation of shortage of Medicine we introduce the Online Unused Medicine Donation System (UMDS),
    where you can donate the unused Medicine left with you. Your little step of kindness can help someone to battle against Covid-19.
    Let’s get together in this fight against Global Pandemic.
</h4>
<br />
<br />
<div class="container mt-3">
    <center><h2>Team members</h2></center>

    <table class="table">
        <tr>

            <td align="center">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="~/Images/Profile.png" alt="Card image" style="width:200px; height:200px">
                    <div class="card-body">
                        <h4 class="card-title">Ekansh Purwar</h4>
                        <p class="card-text">(Team Leader) Developer and Designer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </td>
            <td align="center">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="~/Images/Profile.png" alt="Card image" style="width:200px; height:200px">
                    <div class="card-body">
                        <h4 class="card-title">Shobhit Shubham</h4>
                        <p class="card-text">Developer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </td>
            <td align="center">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="~/Images/Profile.png" alt="Card image" style="width:200px; height:200px">
                    <div class="card-body">
                        <h4 class="card-title">Roshan Mishra</h4>
                        <p class="card-text">Developer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            
            <td align="center">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="~/Images/Profile.png" alt="Card image" style="width:200px; height:200px">
                    <div class="card-body">
                        <h4 class="card-title">Neetu Saini</h4>
                        <p class="card-text">Designer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </td>
            <td align="center">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="~/Images/Profile.png" alt="Card image" style="width:200px; height:200px">
                    <div class="card-body">
                        <h4 class="card-title">Payas jaglan</h4>
                        <p class="card-text">Designer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </td>
        </tr>

    </table>

    <br>

</div>