
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<h3>Login</h3>
@using(Html.BeginForm())
 {

    <p>Email</p>
    @Html.TextBox("Email")
    <br />
    <p>Password</p>
    @Html.Password("Password")

    <br />
    <br />
    <input type="submit" value="Login" class="btn btn-primary"/>
 }

@if(@ViewData["msg"]!=null)
 {
    <p>@ViewData["msg"].ToString()</p>
 }
else
{
    <p></p>
}
